.parent{
    height: 600px;
    width: 85vw;
    border: 2px solid red;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 150px 150px;
    grid-auto-rows: 50px;
}

.child1{
    border: 2px solid rgb(70, 5, 102);
    background-color: rgb(66, 9, 223);
}

.child2{
    border: 2px solid rgb(70, 5, 102);
    background-color: rgb(6, 197, 86);
}

.child3{
    border: 2px solid rgb(70, 5, 102);
    background-color: rgb(16, 151, 241);
}

.child4{
    border: 2px solid rgb(70, 5, 102);
    background-color: rgb(141, 223, 9);
}

.child5{
    border: 2px solid rgb(70, 5, 102);
    background-color: rgb(231, 197, 4);
}

.child6{
    border: 2px solid rgb(70, 5, 102);
    background-color: rgb(197, 5, 111);
}

.child7{
    border: 2px solid rgb(70, 5, 102);
    background-color: rgb(223, 9, 9);
}

.child8{
    border: 2px solid rgb(70, 5, 102);
    background-color: rgb(212, 80, 80);
}

.child9{
    border: 2px solid rgb(70, 5, 102);
    background-color: rgb(66, 9, 223);
}

.child10{
    border: 2px solid rgb(70, 5, 102);
    background-color: rgb(66, 9, 223);
}